.comment-container{
    height:100vh;
    width:90vw;
    padding:20px;
}
.comment-button-container{
    display: flex;
    flex-direction: row;
    width:100%;
}
.comment-text{
    border-style: solid;
    border-width: 1px;
    border-color: #5d92e8;
    display: flex;
    overflow-y:auto;
    font-size: 24px;
}
.comment-button{
    border-width: 2px;
    border-radius: 5px;
    height:30px;
    width:100px;
    border-color: black;
    color: black;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 300;
    margin-left:auto;
    margin-right: auto;
    margin-top: 25px;
}
.logout{
    border-width: 2px;
    border-radius: 5px;
    height:25px;
    width:80px;
    border-color: black;
    color: black;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
    margin-left:90%;
    margin-bottom: 10px;
    text-align: end;
}
.display-comments{
    height: 50%;
    width:100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 300;
    margin-top:20px;
    margin-bottom: 20px;
    padding:20px;
}
.comments-heading{
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 600;

}
.comment-filter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:20%;
}

.error-message{
    color: red;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
}
.suggest-message{
    color: green;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
}
.unorder-list{
    width:90%;
    list-style-type: none;
}
.filterOffButton{
    border-width: 2px;
    border-radius: 5px;
    height:30px;
    width:100px;
    border-color: black;
    color: black;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 300;
    margin-right:20%;
        
}
.filterOnButton{
    border-width: 2px;
    border-radius: 5px;
    height:30px;
    width:100px;
    border-color: blue;
    color: #ffffff;
    background-color: blue;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 450;
    margin-right:20%;

}
@media all and (max-width:600px) {
    .comment-button-container{
        display: flex;
        flex-direction: column;
    }
    
}